<!-- Navigation -->
<nav class="navbar-principal">
	
	<!-- BEGIN MENU NEW -->

<div class="navbar-principal">
	

        <div class="container">

            <div class="navbar-header">

             <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
                        
                <span class="sr-only">Menu</span>
				<span class="fa fa-lg fa-bars"></span>
                        
            </button>

			<%= link_to "SNCP", index_url, :title => "Ir al Inicio", :class => 'navbar-brand' %>
            </div>
                
            <div class="collapse navbar-collapse">
                
             <ul class="nav navbar-nav">
						
			<% if current_usuario.present? %>
				
				<li>
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuraciones <b class="caret"></b></a>
				    <ul class="dropdown-menu">
				        <!-- Opciones de Configuraciones -->
				        <li><%= link_to "Controladores", controladores_index_path if acceso_permitido("controladores.index") %></li>
				        <li><%= link_to "Roles", roles_index_path if acceso_permitido("roles.index") %></li>
				        <li><%= link_to "Personas", personas_index_path if acceso_permitido("personas.index") %></li>
				        <li><%= link_to "Gestión de usuarios", usuarios_index_path if acceso_permitido("usuarios.index") %></li>
				    </ul>
				</li>

				<li>
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestión CNET<b class="caret"></b></a>
				    <ul class="dropdown-menu">
				        <!-- Opciones de Configuraciones -->
				        <li><%= link_to "Identificación de usuario CNET", controladores_index_path if acceso_permitido("controladores.index") %></li>
				        <li><%= link_to "Gestión de usuarios", usuarios_index_path if acceso_permitido("usuarios.index") %></li>
				        <li><%= link_to "Gestión de Roles", roles_index_path if acceso_permitido("roles.index") %></li>
				        <li><%= link_to "Gestión Solicitud de Perfiles", usuarios_index_path if acceso_permitido("usuarios.index") %></li>
				        <li><%= link_to "Gestión Solicitud de Certificación", usuarios_index_path if acceso_permitido("usuarios.index") %></li>
				        <li><%= link_to "Reportes de perfiles", usuarios_index_path if acceso_permitido("usuarios.index") %></li>
				        <li><%= link_to "Reportes de ofertas", usuarios_index_path if acceso_permitido("usuarios.index") %></li>
				    </ul>
				</li>
    			<li><%#= link_to "Reportes", informes_index_path if acceso_permitido("informes.index")%></li>
	  		
	  		<% end %>

	  		<% unless current_usuario.present?%>

	  		<li>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Nosotros <b class="caret"></b></a>
				<ul class="dropdown-menu">
				       
					<li>
				    	<a class="dropdown-toggle" href="#" data-toggle="dropdown">
						Consejo Nacional de Educación y Trabajo 
						<b class="caret"></b></a>
						
				        <ul class="dropdown-menu">
				                <li><%= link_to "¿Qué es?", index_url %></li>
				                <li><%= link_to "Composición", index_url %></li>
				                <li><%= link_to "Atribuciones - Funciones", index_url %></li>
				                <li><%= link_to "Misión, Visión y Valores", index_url %></li>
				        </ul>
				    </li>
				      
				    <li>
				        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Unidad Técnica Interministerial<b class="caret"></b></a>
			            <ul class="dropdown-menu">
			                <li><%= link_to "¿Qué es?", index_url %></li>
			                <li><%= link_to "Estructura orgánica", index_url %></li>
			                <li><%= link_to "Funciones", index_url %></li>
				            <li><%= link_to "Manual de procesos y procedimientos", index_url %></li>
				            <li><%= link_to "Datos de Contacto", index_url %></li>
				        </ul>
			        </li>

				</ul>
			</li>

			<li>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sistema Nacional de Cualificaciones Profesionales <b class="caret"></b></a>
				<ul class="dropdown-menu">
				       
					<li>
				    	<a class="dropdown-toggle" href="#" data-toggle="dropdown">Hoja de Ruta 2020 - 2030 para el fortalecimiento del SNCP<b class="caret"></b></a>
				        <ul class="dropdown-menu">
				                <li><%= link_to "Dimensiones y acciones por dimensión.", index_url %></li>
				                <li><%= link_to "Diagnóstico para armar la Hoja de Ruta", index_url %></li>
				                <li><%= link_to "Hallazgos y nudos críticos", index_url %></li>
				            </ul>
				        </li>
				      
				        <li>
				            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Marco Nacional de Cualificaciones Profesionales<b class="caret"></b></a>
				            <ul class="dropdown-menu">
				                <!-- Opciones -->
				                <li><%= link_to "8 Niveles del Marco Nacional de Cualificaciones y su correspondencia con los cinco niveles de cualificaciones del catálogo", index_url %></li>
				            </ul>
				        </li>

				        <li>
				            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Catalogo Nacional de Perfiles Profesionales (CNPP)<b class="caret"></b></a>
				            <ul class="dropdown-menu">
				                <!-- Opciones -->
				                <li><%= link_to "Estructura de familias profesionales", index_url %></li>
				                <li><%= link_to "Descripciones sectoriales", index_url %></li>
				                <li><%= link_to "Descriptores de Niveles de Cualificación", index_url %></li>
				                <li><%= link_to "Flujograma de Procesos Identificación, Desarrollo, Validación y Aprobación de Perfiles Profesionales, así como de los Módulos Formativos asociados", index_url %></li>
				                <li><%= link_to "Campos de observación de las familias y Análisis Funcionales", index_url %></li>
				                <li><%= link_to "Perfiles Profesionales y Módulos Formativos según familias profesiones aprobados por resolución", index_url %></li>
				                <li><%= link_to "Mesas Sectoriales - Conceptualización y mecanismo /procedimiento de aprobación de documentos presentados a la misma para validación", index_url %></li>
				                <li><%= link_to "Guías Metodológicas.", index_url %></li>
				            </ul>
				        </li>

				        <li>
				            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Subsistemas<b class="caret"></b></a>
				            <ul class="dropdown-menu">
				                <!-- Opciones -->
				                <li><%= link_to "Sistema de Información del SNCP", index_url %></li>
				                <li><%= link_to "Formación Basada en el Catálogo Nacional de Perfiles Profesionales (CNPP)", index_url %></li>
				                <li><%= link_to "Orientación profesional y vocacional", index_url %></li>
				            </ul>
				        </li>

				        <li>
				            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Certificación de competencias<b class="caret"></b></a>
				            <ul class="dropdown-menu">
				                <!-- Opciones -->
				                <li><%= link_to "Modelo de Certificación de Competencias vinculado al SNCP", index_url %></li>
				                <li><%= link_to "Metodología Instrumentos Evaluación", index_url %></li>
				                <li><%= link_to "Instrumentos de evaluación (piloto)", index_url %></li>
				                <li><%= link_to "Manual de procedimientos para las etapas y fases de certificación del piloto", index_url %></li>
				                <li><%= link_to "Plan de Formación para asesores y evaluadores", index_url %></li>
				                <li><%= link_to "Solicitud de Perfiles Profesionales", index_url %></li>
				                <li><%= link_to "Solicitud de Certificación de saberes", index_url %></li>
				            </ul>
				        </li>

				        <li>
				            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Aseguramiento de la Calidad<b class="caret"></b></a>
				            <ul class="dropdown-menu">
				                <!-- Opciones -->
				                <li><%= link_to "Evaluación y Aseguramiento de la Calidad de la EFTP -SNCP", index_url %></li>
				            </ul>
				        </li>

				    </ul>
			</li>


			<li>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Educación y Formación Técnica Profesional<b class="caret"></b></a>
				<ul class="dropdown-menu">
				       
					<li><%= link_to "Presentación de la política", index_url %></li>
					<li><%= link_to "Presentación del Plan Estratégico de EFTP", index_url %></li>
					<li><%= link_to "Agenda planificada 2024 -2028", index_url %></li>

				    <li>
				        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Ofertas EFTP<b class="caret"></b></a>
			            <ul class="dropdown-menu">
		            	    <!-- Opciones -->
			                <li><%= link_to "Ofertas Disponibles", index_url %></li>
			                <li><%= link_to "Estados de Oferta", index_url %></li>
				            <li><%= link_to "Pasantía", index_url %></li>
				        </ul>
				    </li>

				    <li>
				    	<a class="dropdown-toggle" href="#" data-toggle="dropdown">Mapa Escolar de ofertas EFTP por Departamento<b class="caret"></b></a>
				        <ul class="dropdown-menu">
				        	<!-- Opciones -->
				            <li><%= link_to "Institucione con ofertas Disponibles", index_url %></li>
							<li><%= link_to "Ubicación del Establecimiento", index_url %></li>
							<li><%= link_to "Datos de Contactos de la Institución", index_url %></li>
				        </ul>
				    </li>

				    <li><%= link_to "Diagnóstico de Necesidades de Formación en EFTP, Capital y Departamentos (info de 2021)", index_url %></li>

				</ul>
			</li>


			<li>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Marco Normativo<b class="caret"></b></a>
				<ul class="dropdown-menu">
				       
					<li>
				    	<a class="dropdown-toggle" href="#" data-toggle="dropdown">Leyes<b class="caret"></b></a>
				        <ul class="dropdown-menu">
				                <li><%= link_to "Leyes de pasantía - formulario para solicitud", index_url %></li>
				            </ul>
				        </li>
				      
				        <li>
				            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Decretos<b class="caret"></b></a>
				            <ul class="dropdown-menu">
				                <!-- Opciones -->
				                <li><%#= link_to "¿Qué es?", index_url %></li>
				            </ul>
				        </li>

				        <li>
				            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Resoluciones<b class="caret"></b></a>
				            <ul class="dropdown-menu">
				                <!-- Opciones -->
				                <li><%#= link_to "¿Qué es?", index_url %></li>
				            </ul>
				        </li>

				        <li>
				            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Convenios<b class="caret"></b></a>
				            <ul class="dropdown-menu">
				                <!-- Opciones -->
				                <li><%#= link_to "Ofertas Disponibles", index_url %></li>
				            </ul>
				        </li>

				    </ul>
			</li>

			<li>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Proyectos de Interés<b class="caret"></b></a>
				<ul class="dropdown-menu">
				       
					<li>
				    	<a class="dropdown-toggle" href="#" data-toggle="dropdown">Consejos Educativos Empresariales<b class="caret"></b></a>
				        <ul class="dropdown-menu">
				                <li><%#= link_to "Leyes de pasantía - formulario para solicitud", index_url %></li>
				            </ul>
				        </li>
				      
				        <li>
				            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Redes de Liderazgos público, privada vinculada al SNCP<b class="caret"></b></a>
				            <ul class="dropdown-menu">
				                <!-- Opciones -->
				                <li><%#= link_to "¿Qué es?", index_url %></li>
				            </ul>
				        </li>

				        <li>
				            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Resoluciones<b class="caret"></b></a>
				            <ul class="dropdown-menu">
				                <!-- Opciones -->
				                <li><%#= link_to "¿Qué es?", index_url %></li>
				            </ul>
				        </li>

				        <li>
				            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Convenios<b class="caret"></b></a>
				            <ul class="dropdown-menu">
				                <!-- Opciones -->
				                <li><%#= link_to "Ofertas Disponibles", index_url %></li>
				            </ul>
				        </li>

				    </ul>
			</li>

			<li>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Formación de Educadores y Técnicos<b class="caret"></b></a>
				<ul class="dropdown-menu">
				       
					<li>
				    	<a class="dropdown-toggle" href="#" data-toggle="dropdown">Capacitaciones disponibles para Docentes e Instructores del MEC<b class="caret"></b></a>
				        <ul class="dropdown-menu">
				                <li><%= link_to "Cursos disponibles en Mbo'ehara 360", index_url %></li>
				            </ul>
				        </li>
				      
				        <li>
				            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Capacitaciones disponibles para Instructores<b class="caret"></b></a>
				            <ul class="dropdown-menu">
				                <!-- Opciones -->
				                <li><%= link_to "Cursos disponibles en el SNPP", index_url %></li>
				                <li><%= link_to "Cursos disponibles en el SINAFOCAL", index_url %></li>
				            </ul>
				        </li>

				        <li>
				            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Materiales audiovisuales<b class="caret"></b></a>
				            <ul class="dropdown-menu">
				                <!-- Opciones -->
				                <li><%#= link_to "¿Qué es?", index_url %></li>
				            </ul>
				        </li>

				        <li>
				            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Curso "Avances en la Política de Educación y Formación Técnica y Profesional (EFTP)<b class="caret"></b></a>
				            <ul class="dropdown-menu">
				                <!-- Opciones -->
				                <li><%#= link_to "¿Qué es?", index_url %></li>
				            </ul>
				        </li>

				        <li>
				            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Curso de Capacitación sobre Formación Basada en Competencias (FBC)<b class="caret"></b></a>
				            <ul class="dropdown-menu">
				                <!-- Opciones -->
				                <li><%#= link_to "Ofertas Disponibles", index_url %></li>
				            </ul>
				        </li>

				        <li>
				            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Curso de Capacitación y Actualización en Gestión SNCP<b class="caret"></b></a>
				            <ul class="dropdown-menu">
				                <!-- Opciones -->
				                <li><%#= link_to "Ofertas Disponibles", index_url %></li>
				            </ul>
				        </li>

				        <li>
				            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Curso Formación en Gestión de Actores Educativos hacia la mejora de la Educación Técnica en  la Educación Indígena Intercultural<b class="caret"></b></a>
				            <ul class="dropdown-menu">
				                <!-- Opciones -->
				                <li><%#= link_to "Ofertas Disponibles", index_url %></li>
				            </ul>
				        </li>

				    </ul>
			</li>
			<% end %>

		<li><%#= link_to "Contactos", contactos_url, :id => "tab-contacto", :class => ('active current' if current_page?(contactos_path)), :title => "Ir al Formulario de Contactos" %></li>
			
        </ul>
					
		<!-- BEGIN MENU RIGTH-->
		    <ul class="nav navbar-nav navbar-right">

			<% if current_usuario.present? %>
			    <li>
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Conectado como <%= "<span style='font-size:10px;'>(#{current_usuario.perfil_actual.rol.descripcion})</span>".html_safe %><b class="caret"></b></a>
			        <% if current_usuario_perfiles.present? %>
			            <ul class="dropdown-menu">
			                <% current_usuario_perfiles.each do |p| %>
			                    <li><%= link_to "Cambiar a #{p.rol.descripcion}", usuarios_cambiar_perfil_actual_path( perfil_id: p.id ), remote: true %></li>
			                <% end %>
			            </ul>
			        <% end %>
			    </li>
			    <li><%= link_to "Mi Cuenta <em style='color:silver;font-size:12px;'></em> <span class='glyphicon glyphicon-edit'></span>".html_safe, usuarios_mi_cuenta_path, :title => "Ver mi Perfil", id: "tab-mi-cuenta" %></li>
			    <li><%= link_to "Salir <span class='glyphicon glyphicon-off'></span>".html_safe, logout_url, :title => "Cerrar Sesión", id: "tab-cerrar-sesion" %></li>
			<% else %>
			    <li><%#= link_to "Crear mi Cuenta <span class='glyphicon glyphicon-pencil'></span>".html_safe, principal_agregar_usuario_path, :title => "Crear mi Cuenta", id: "tab-registrarme" %></li>
			    <li><%= link_to "Iniciar Sesión <span class='glyphicon glyphicon-user'></span>".html_safe, login_url, :title => "Iniciar Sesión", id: "tab-iniciar-sesion" %></li>
			<% end %>		
 
                </div>
            </div>
        </div>

<!-- END MENU NEW -->


</nav>

<style type="text/css">
 
.container {
    width: 100%;
}
/*.navbar-nav .dropdown-menu .caret {
    transform: rotate(-90deg);
}*/

header nav.navbar-principal a:not(.navbar-brand):hover, header nav.navbar-principal a:not(.navbar-brand):focus, header nav.navbar-principal a:not(.navbar-brand).active{
    color: #000;
    background: #eee;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eee;
    border-color: #465f6e;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eee;    border-color: #465f6e;
    color: #000;
}
header nav.navbar-principal a {
    color: #fff;
    font-family: Arial, ​sans-serif;
    font-size: 1.1em;
}

.navbar-right .dropdown-menu li a .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 4px dashed;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
}

@media (min-width: 767px) {
    .navbar-nav .dropdown-menu .caret {
        transform: rotate(-90deg);
    }

	/*.navbar-nav .navbar-right .dropdown-menu .caret {
        transform: rotate(-180deg);
    }*/
	
	
}

</style>

<script>

$(document).ready(function () {
   $('.navbar-principal a.dropdown-toggle').on('click', function (e) {
        var $el = $(this);
        var $parent = $(this).offsetParent(".dropdown-menu");
        $(this).parent("li").toggleClass('open');

        console.log(45, $parent.closest('.nav'));
        if (!$parent.parent().hasClass('nav')) {
            if ($parent.closest('.nav').hasClass('navbar-right')) {
                console.log('aaa');
                $el.next().css({"top": $el[0].offsetTop, "right": $parent.outerWidth() - 4});
            } else {
                console.log('bbb');
                $el.next().css({"top": $el[0].offsetTop, "left": $parent.outerWidth() - 4});
            }
        }

        $('.nav li.open').not($(this).parents("li")).removeClass("open");

        return false;
    });
});
</script>